/* Table of Contents */
/* 1. Imports */
/* font-family: 'Oswald', sans-serif; */

/* General */

/* h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
} */

h1, h2, h3 {
    text-align: center;
}

header {
    text-align: center;
}

.navbar {
    width: 100%;
    overflow: hidden;
}

ul {
    list-style: none;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
 }

 a {
     text-decoration: none;
     padding: 1em; 
     color: #000000;
 }

 li:hover {
     background-color: #FFDB58;
 }

 body {
    text-align: center;
    background-color: #5D8369;
    font-family: 'Open Sans', sans-serif;
    color: #233D58;
}

#target-audience {
    text-align: left;
    margin: 0 2em;
}

#persona-1 {
    text-align: left;
    margin: 0 2em;
}

#persona-2 {
    text-align: left;
    margin: 0 2em;
}

.scenarios {
    text-align: left;
    margin: 0 2em;
}

.section-box {
    outline: 1px solid #233D58;
    margin: 0 2em;
    /* margin: auto;
    text-align: center;
    background-color: #fff;
    width: 20em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2);
    margin-bottom: 2em;
    padding: 1em 0; */
}

.hex-1 {
    background-color: #5D8369;
    color: #ffffff;
}

.hex-2 {
    background-color: #233D58;
    color: #ffffff;
}

.hex-3 {
    background-color: #000000;
    /* outline: 1px solid #233D58; */
    color: #ffffff;
}

.hex-4 {
    background-color: #FFDB58;
} 

.jumbotron {
    padding: 2em;
    margin: 30px auto;
    margin-left: 130px;
    margin-right: 130px;
    background-color: #FFFFFF;
}

html {
    background-color: #5D8369;
}

footer {
    margin: 2em;
    text-align: center;
}

#font-name {
    background-color: #FFDB58;
}

.body-text {
    outline: 1px solid #233D58;
    margin: 0 2em;
}

.paragraph-1 {
    margin: 0 2em;
    text-align: left;
}

#persona-1-image {
        width: 50%;
        height: auto;
        margin: .5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2);
}

#persona-2-image {
        width: 50%;
        height: auto;
        margin: .5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2);
}

/* Mobile Screens */
@media only screen and (max-width: 768px) {
    .navbar {
        display: block;
        margin: 0;
        padding: 0 0 0 0;
        text-align: center;
    }
}