/* 1. Imports (fonts)
2. Mobile and General
2a. General 
2b. Mobile 
3. Midsize (don't usually need this)
4. Larger 
5. Really Large (Don't always need)*/

/* 1. Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* 2a. General */
a {
    color: #000000;
}

ul {
   list-style: none;
   font-size: 1.5em;
}

body {
    background: #5FAB8F;
    margin: 0px;
    padding: 0px;
}

#links {
    background: #fff;
    padding: .5em;
    text-align: center;
    color: #6B2737;
}
footer {
    margin: 2em;
    text-align: center;
}
/* 2b. Mobile */
header {
    padding: 1em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-align: center;
    color: #6B2737;
    font-family: 'Open Sans', sans-serif;
}
img {
    width: 40%;
    height: auto;
    margin: .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2);
}
/* 3. Midsize */
@media only screen and (min-width: 20em) {
    #portal_image {
     /* margin-right: .5em;   */
     text-align: right;
    }
}

/* Larger */