

html {
    background-color: #5D8369;
}

.jumbotron {
    padding: 2em;
    margin: 30px auto;
    margin-left: 95px;
    margin-right: 95px;
    background-color: #FFFFFF;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-top: 0;
    margin-left: 100px;
}

body {
    color: #233D58;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

header {
    display: flex;
}

.header-words {
    text-align: right;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
li{
    padding: 1em;
}

a{
    padding: 1em;
    color: #000000;
    text-decoration: none;
}

li:hover {
    background-color: #FFDB58;
}

.content-box {
    border-style: dashed;
    background-color:lightgrey;
    padding: 1rem;
    text-align: center;
}

.navigation li:first-child{
    display:none;
}

footer {
    margin: 2em;
    text-align: center;
}


/* Mobile */
@media screen and (max-width: 40.5em){

    img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        margin-top: 0;
    }

    .navigation{
        display: block;
    }
    .navigation li:first-child{
        display: block;
        text-align: center;
    }
    .navigation li{
        display: none;
        flex: 1 1 100%;
    }

    body{
        width: 100%;
        margin: 0 auto;
    }
    nav.responsive ul.navigation li {
        float: none;
        display: block;
        text-align: left;
    }

}