html {
    background-color: #5D8369;
}

.jumbotron {
    padding: 2em;
    margin: 30px auto;
    margin-left: 95px;
    margin-right: 95px;
    background-color: #FFFFFF;
}

body {
    font-size: 16px;
    line-height: 1.75;
    color: #BC3908;
  }
    
  header, footer {
    background-color: #BC3908;
    color: #fff;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: auto;
  }

  nav {
	margin: 0 auto;
    max-width: 100%;
    display: flex;
}

nav li {
    list-style: none;
    padding: 0;
    display: block;
}

nav a {
    color: #fff;
    text-decoration: none;
}

li:hover {
    background-color: #5D8369;
}
    
  h1, h2 {
    margin: 0 auto;
  }
  
  h1 {
    font-family: "Oswald", "sans-serif";
  }
  
  img {
    max-width: 100%;
    min-width: 50px;
    min-height: 50px;
    display: block;
  }
    
  footer a {
    color: white;
  }