/* GENERAL */
html {
    background-color: #073b4c;
}

body {
    background-color: #EBEBEB;
    font-family: 'Nunito', sans-serif;
}

.logo-spot {
  background-color: #073b4c;
  padding-left: 20px;
}

main {
  margin: 50px;
}

h2 {
    color: #073b4c;
    font-family: 'Roboto', sans-serif;
}

button, #submit {
  background-color: #D74E09;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: x-large;
  text-decoration: none;
  display: inline-block;
}

button:hover, #submit:hover {
  background: #bbb;
  color: #073b4c;
  transition: all 300ms;
  /* cursor: pointer; */
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow-container-2 {
  max-width: 300px;
  position: relative;
  margin: auto;
}
  
.mySlides {
  display: none;
}

.town-carousel {
   display: none;
}
  
  .prev, .next {
    /* cursor: pointer; */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* color: ; */
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev2, .next2 {
    /* cursor: pointer; */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: #44A1A0;
    color: #000;
  }

  .prev2:hover, .next2:hover {
    background-color: #D74E09;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    /* cursor: pointer; */
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .circle {
    /* cursor: pointer; */
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .active, .circle:hover {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  /* @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  } */

fieldset {
  box-sizing: border-box;
}

.required {
  font-size: 20px;
}

.side-by-side {
  display: grid;
  grid-template-columns: 50% 50%;
}

footer {
  background-color: #073b4c;
  color: #fff;
  padding-top: 5px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
}

.last-updated {
  margin-left: 280px;
}

.right {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 40px;
}

.nav-logo {
  height: 50px;
  width: auto;
  margin-top: 5px;
  margin-right: 80px;
}

.social-media {
  width: 40px;
  height: auto;
}

.attribution {
	color: #fff;
}

.article-image {
  width: 25%;
  height: auto;
  float: right;
  margin-right: 50px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.article-text {
  text-align: left;
}

.currently-box {
  border-radius: 5px;
}

.weather-boxes {
  display: flex;
}

.weather-box {
  background: #44A1A0;
  color: #000;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.buttons {
  /* display: None; */
  list-style-type: None;
  float: right;
  margin-right: 2rem;
  padding: 5px;
  color: #073b4c;
}
.buttons a {
  display: block;
	padding: .5em;
	text-align: center;
	text-decoration: none;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
	color: #073b4c;
	transition: 300ms;
  margin-bottom: .3em;
}

.buttons li:hover {
  background-color: #D74E09;
  color: #fff;
}

.cards {
    display: block;
    width: 100%;
}

.card {
  background-color: #44A1A0;
  color: #000;
  margin-bottom: 25px;
  border: 1px solid #073b4c;
  text-align: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.card img {
  max-width: 200px;
  margin-top: 25px;
  margin-top: auto;
  margin-bottom: auto;
}

.hero-image {
  width:100%;
  position:relative;
  padding: 5px;
}

.thanks-header {
  text-align: center;
}

/* Mobile */
nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: #073b4c;
}

#hamburger-icon {
    padding-right: .5em;
}

ul {
    margin: 0;
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: .5em;
	text-align: center;
	text-decoration: none;
    font-size: 1.3em;
	color: #fff;
	transition: 300ms;
    margin-bottom: .3em;
}

li:hover {
    background-color: #44A1A0;
}

.responsive li {
	display: block;
}


@media only screen and (max-width: 55em){
  .active-page {
    border-top: 3px solid #D74E09;
    border-bottom: 3px solid #D74E09;
  }

  .hero-image {
    width: 25%;
    height: auto;
  }

  .side-by-side {
    display: grid;
    grid-template-columns: 1fr;
  }

  footer {
    background-color: #073b4c;
    color: #fff;
    padding-top: 5px;
    padding-left: 40px;
    display: flex;
  }

  .last-updated {
    margin-left: 50px;
  }
  
  .right {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
  }

}

/* MEDIUM */
@media only screen and (min-width:700px) {
  .active-page {
    border-top: 3px solid #D74E09;
    border-bottom: 3px solid #D74E09;
  }
  .buttons {
    display: flex;
  }
  .cards {
     display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cards.list {
    grid-template-columns: 1fr;
  }
}
/* LARGE AND WIDE*/
@media (min-width: 55em) {
    .navigation {
		  display: flex;
      justify-content: center;
	  }

	.navigation li {
		display: block;
	}

	.navigation a {
		text-align: center;
    padding-left: 1em;
    padding-right: 1em;
	}

	.navigation li:first-child {
		display: none;
	}

  fieldset {
    text-align: Left;
    margin-bottom: 15px;
    width: 90%; /* Width of the box relative to the page */
  }
}